<p id="notice"><%= notice %></p>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="box">
        <%= image_tag movie.url %>
        <div class="yes">
          <div class="text">
            <i class="far fa-check-circle"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- <%= link_to 'New Movie', new_movie_path %> -->