<p id="notice"><%= notice %></p>
<a id="browse"></a>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="box">
        <%= image_tag movie.url %>
        <div class=<%= movie.watch %>>
          <div class="text">
            <% if movie.watch == true %>
              <i class="far fa-check-circle"></i>
            <% else %>
              <i class="far fa-times-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- <%= link_to 'New Movie', new_movie_path %> -->