/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require flexboxgrid.min
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Oswald:600,700|Sunflower:300,700');

* {
  box-sizing: border-box;
}
body {
  background-color: #000000;
  color: #fff;
  font-family: 'Sunflower', sans-serif;
  font-weight: 200;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 30px;
}

header {
  background-color: #000000;
  margin-bottom: 60px;
  height: 100vh;
}

.nav {
  color: #fff;
  // background: -webkit-linear-gradient(#b3ffab, #12fff7);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  font-family: 'Oswald', sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  height: 80px;
  line-height: 80px;
  margin-bottom: 120px;
  text-transform: uppercase;
  .i {
    color: #f4d03f;
  }
  .watch {
    color: #fd2d53;
    background-color: #f4d03f;
    background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.all {
  font-size: 1.25rem;
  margin: 2rem 0;
  text-align: center;
}

.box {
  cursor: pointer;
  margin-bottom: 30px;
  position: relative;
  img {
    border: 10px solid #222222;
    display: block;
    width: 100%;
    height: auto;
  }
  &:hover {
    .true,
    .false {
      opacity: 0.8;
    }
  }
}

.true {
  border: 10px solid transparent;
  border-image-source: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  border-image-slice: 20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.65s ease;
  background-color: #000;
  i {
    font-size: 10rem;
    background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.false {
  border: 10px solid transparent;
  border-image-source: linear-gradient(#ff0844, #ffb199);
  border-image-slice: 20;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.65s ease;
  background-color: #000;
  i {
    font-size: 10rem;
    background: -webkit-linear-gradient(#ff0844, #ffb199);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.text {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

input {
  border: none;
  font-size: 2rem;
  width: 100%;
}

input:not([type='submit']) {
  background: transparent;
  border-bottom: 3px solid #fff;
  color: #fff;
  padding: 0.75rem 0;
}

input[type='submit'] {
  background: #222;
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  border-radius: 5px;
  color: #fff;
  padding: 0.75rem 0;
}
